apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: vllm
  labels:
    release: kube-prometheus
spec:
  selector:
    matchLabels:
      app: vllm
  endpoints:
    - port: "8000"
      path: /metrics
