apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system
resources:
  - https://github.com/fluxcd/flux2//manifests/bases/image-reflector-controller?ref=v2.4.0
  - https://github.com/fluxcd/flux2//manifests/bases/image-automation-controller?ref=v2.4.0
  - image-automation.yaml
patches:
  - target:
      kind: Deployment
    patch: |
      - op: add
        path: /spec/template/spec/tolerations
        value:
          - key: nvidia.com/gpu
            operator: Exists
            effect: NoSchedule
